
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-weight:normal ;
    transition:all .3s ease-out ;
    font-family: sans-serif;
}



:root{
    --colorfondo:#000;
    --navbar: #fff;
    --navbarhover: #1dd1a1;
    --yosoy:#fff;
    --spannombre: #1dd1a1;
    --parrafo: rgb(231, 227, 227);
    --botonfondo: #212121;
    --letraboton: #fff;


}


.hero{
    width: 100%;
    height: 10vh;
    background-color: var(--colorfondo);

}



nav{

    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content:space-between ;
    
    
}



nav h1{
    color: #fff;
  
    font-weight: bold;
    font-size: 40px;
  
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--navbar);
    font-weight: bold;
}

nav ul li a:hover{
    color: var(--navbarhover);
}

nav img{
    width: 120px;
    height: auto;
}




#menu-btn{
    position: fixed;
    top: 15px; right: 30px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    z-index: 1000;
    display: none;
  
}

#menu-btn.fa-times{
    transform: rotate(180deg);
    background-color:#000 ;
    color: #fff;


}

.navbar{
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.801), #000); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 50px;
    clip-path: circle(0% at 95.3% 8.5%);
    text-transform: uppercase;
}

.navbar.active{
     clip-path: circle(140% at 95.3% 8.5%); 

    
   
}

.navbar a{
    font-size: 30px;
    padding-bottom: 30px;
    color: #fff;
    font-family: sans-serif;
    
}

.navbar a::before{
    content: attr(data-text);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: #fff;
    pointer-events: none;
    font-weight: bolder;
    letter-spacing: .4em;
    opacity: 0;
    z-index:-1 ;

}
.navbar a:hover:before{
    letter-spacing: 0em;
    opacity: .1;
    transition: .3s ease-out;
}



@media (max-width:1000px) {

    nav ul li a{
        display: none;
    }

    #menu-btn{
        display: unset;
    }
    
}


















.portada{
    display: grid;
    grid-template-columns:repeat(2, minmax(50%, 1fr));
    height: 90vh;
    padding: 10px 120px;
    gap: 16px;

    background-color: black;
  

   
}

.portada__texto{
  width: 100%; height: 80vh;
  display: block;
  padding-top: 30%;
  color: #fff;

 

}





.portada__texto h1{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 120px;
   
}

.portada__texto span{
   color: rgb(19, 218, 224);
   font-family: sans-serif;
   font-family: sans-serif;
   font-weight: bold;
}

.portada__texto p {
    font-family: sans-serif;
    margin-right: 100px;
    padding: 20px 0 ;
    font-size: 19px;
}




.portada__images{
    width: 100%;
    height: 88vh;

    position: relative;
   
    text-align: center;
    



}

.portada__images--contenedor{
    height: 90%;
    position: absolute;
    right: 320px;
    bottom: 0;
}



.portada__images--contenedor img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
  
    
}

.captura{
    display: none;
   
}



.portada__images:hover .shape{
    bottom: 40px;
}

.portada__images:hover .persona{
    left:45px;
} 





@media (max-width:1200px) {

    .portada{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(100%, 1fr));
        height: 90vh;
        padding: 10px 50px;
        gap: 10px;
        background-color: black;
       
    }

    .portada__texto h1{
        font-size: 40px;
        font-family: sans-serif;
        font-weight: bold;
        margin-right: 0px;
        padding-top: 10px;
       
    }

    .portada__texto p{
        font-size: 18px;
        margin-right: 0px;

}


.portada__images--contenedor{
    display: none;
}

.captura{
    display: unset;
    width: 550px;
    position: relative;
}


.portada__images{
    width: 100%;
    height: 88vh;
    position: relative;
    text-align: center;
    

}


.portada__texto{
  width: 100%; height: 20vh;
  display: block;
  padding-top: 1%;
  color: #fff;

 text-align: center;

}


}












@media (max-width:600px) {
    
    .portada{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(100%, 1fr));
        height: 90vh;
        padding: 10px 50px;
        gap: 15px;
        background-color: black;
       
    }
   

    .portada__texto h1{
        font-size: 30px;
        font-family: sans-serif;
        font-weight: bold;
        margin-right: 0px;
        padding-top: 15px;
       
    }

  


    .portada__texto p{
        font-size: 15px;
        margin-right: 0px;

}




.captura{
    display: unset;
    width: 400px;
   
}


.portada__images{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    text-align: center;
 
    

}


.portada__texto{
  width: 100%; height: 20vh;
  display: block;
  padding-top: 1%;
  color: #fff;

 text-align: center;

}


}



@media (max-width:450px) {
    
    .portada{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(100%, 1fr));
        height: 90vh;
        padding: 10px 50px;
        gap: 15px;
        background-color: black;
       
    }
   

    .portada__texto h1{
        font-size: 30px;
        font-family: sans-serif;
        font-weight: bold;
        margin-right: 0px;
        padding-top: 15px;
       
    }

  


    .portada__texto p{
        font-size: 15px;
        margin-right: 0px;

}




.captura{
    display: unset;
    width: 300px;
   
}


.portada__images{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    top: 5%;
    left: -5%;
 
    

}


.portada__texto{
  width: 100%; height: 20vh;
  display: block;
  padding-top: 1%;
  color: #fff;

 text-align: center;

}


}

.acercademi{
    background-color:#1dd1a148;
    height: 120vh;
    
}


.acercademi h1, .acercademi p{
    padding: 0 120px;
    text-align: center;
    color: #000;
    margin: 0;
    font-family: sans-serif;
   
}

.acercademi h1{
    padding-top: 60px;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: bold;
}






















#service{
    width: 100%;
    padding: 10px 0; 
   
}

.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  
    
}

.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color:#fff;
    position: relative;
}

.single-service img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}

.single-service:hover .overlay{
    opacity: 1;
}

.service-desc{
    width: 80%;
    position: absolute;
    bottom: 40%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr{
    background:#fff ;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;

}

.service-desc p{
    font-size: 14px;
}

.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width:770px) {

    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .service-desc p{
        font-size: 12px;
    }

    hr{
        margin: 5px auto;
    }

    .single-service:hover .service-desc{
        bottom: 25% !important;
       
    }
   
}



.titulo{
    padding-top:20px ;
    text-align: center;
    padding-bottom: 20px;
    
}

.titulo h1{
    font-size: 40px;
    font-weight: bold;
    
}







